.about-section {
  margin: -183px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: fit-content;
  background-image: linear-gradient(
    to bottom,
    #dcdcdc,
    #e5e5e5,
    #ededed,
    #f6f6f6,
    #ffffff
  );
  margin-bottom: 20px;
}
.navLinkHover::after {
  content: " ";
  width: 100%;
  display: block;
  border-bottom: 2px solid rgb(234, 228, 228);
  transition: 0.25s;
  transform: scaleX(0);
  margin-top: 10px;
}

.navLinkHover:hover::after {
  transform: scaleX(1);
}
