html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.neumorphism {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: inset -20px 20px 23px #d9d9d9, inset 20px -20px 23px #ffffff;
}

.headings {
  color: #626060;
}

.navLinkHover::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
